/* General */

body {
  background-color: #545c84;
  color: #a3a1bd;
  margin: 1em auto;
  width: 980px;
}

/* Core Layout */

#header, #footer {
  padding: 10px 0;
}

#header {
  background: url('../images/elements/page_top.gif') no-repeat bottom;
  height: 40px;
  overflow: hidden;
  padding: 0 20px 20px;
}

  #header .logo {
    font-size: 1.4em;
    float: left;
  }
  
  #header ul.nav {
    float: right;
    list-style-type: none;
    margin: 10px 0 0 0;
  }
  
    #header .nav li {
      display: inline;
    }
    
    #header .nav a {
      color: #a3a1bd;
      padding: 0.5em 1em;
    }
    
      #header .nav a:hover, #header .nav a.selected {
        color: #fff;
      }

#article {
  background: #fff url('../images/elements/page_middle.gif') repeat-y;
  color: #222;
  padding: 30px 30px 10px;
}

#footer {
  background: url('../images/elements/page_bottom.gif') no-repeat top;
  font-size: 0.9em;
  text-align: right;
  padding: 40px 20px 20px;
}

  #footer .license {
    float: left;
  }
  
  #footer a {
    color: #d2d1f3;
  }
  
    #footer a:hover {
      color: #e7e7f2;
    }

/* Showcase */

#showcase {
  border: 1px solid #999;
  padding: 15px;
  margin-bottom: 1em;
}