/* General */

body {
  background-color: #5b5c81;
  color: #a3a1bd;
  margin: 2em auto;
  width: 980px;
}

/* Core Layout */

#header, #article, #footer, #showcase {
  padding: 15px; /* master padding */
}

#article, #footer {
  background-color: #fff;
  color: #222;
}

#header {
  overflow: hidden;
  margin: 1em 0;
}

  #header .project-name {
    font-size: 1.4em;
    float: left;
  }
  
  #header ul.nav {
    float: right;
    list-style-type: none;
  }
  
    #header .nav li {
      display: inline;
    }
    
    #header .nav a {
      color: #a3a1bd;
      padding: 0.5em 1em;
    }
    
      #header .nav a:hover, #header .nav a.selected {
        color: #fff;
      }

#article {
  margin-bottom: 1em;
}

#footer {
  font-size: 0.9em;
  text-align: right;
}

  #footer .license {
    float: left;
  }

/* Showcase */

#showcase {
  border: 1px solid #999;
  margin-bottom: 1em;
}