/* General */

body {
  background-color: #353951;
  color: #7c7b8f;
  margin: 1em auto 1em;
  width: 980px;
}

/* Core Layout */

#header {
  background: url('../images/elements/page_top.png') no-repeat bottom;
  height: 40px;
  overflow: hidden;
  padding: 0 20px 20px;
}

  #header .logo {
    font-size: 1.4em;
    float: left;
  }
  
  #header ul.nav {
    float: right;
    list-style-type: none;
    margin: 10px 0 0 0;
  }
  
    #header .nav li {
      display: inline;
    }
    
    #header .nav a {
      background: url('../images/navigation_highlight.png') no-repeat center right;
      color: #a3a1bd;
      padding: 10px 20px 10px 0;
    }
    
      #header .nav a span {
        background: url('../images/navigation_highlight.png') no-repeat center left;
        padding: 10px 0 10px 20px;
      }
    
      #header .nav a:hover, #header .nav a.selected {
        color: #fff;
      }

#page {
  background: url('../images/elements/page_middle.png') repeat-y;
  color: #222;
  padding: 10px 30px;
  overflow: hidden;
}
  
  #page .section {
    float: left;
    padding: 10px;
    text-align: justify;
    width: 280px;
  }

#footer {
  background: url('../images/elements/page_bottom.png') no-repeat top;
  font-size: 0.9em;
  text-align: right;
  padding: 40px 30px 0;
}

  #footer .license {
    float: left;
  }
  
  #footer a {
    color: #d2d1f3;
  }
  
    #footer a:hover {
      color: #e7e7f2;
    }

/* Showcase */

#showcase {
  background: #457eda url('../images/elements/showcase.png') no-repeat;
  color: #fff;
  height: 240px;
  overflow: hidden;
  margin-bottom: 1em;
}
  
  #showcase a {
    color: #ccf;
  }
  
    #showcase a:hover, #showcase a.selected {
      color: #fff;
    }

  #showcase .nav {
    float: left;
    height: 300px;
    list-style-type: none;
    margin: 0 30px 0 0;
    width: 200px;
  }
  
    #showcase .nav a {
      background: url('../images/elements/shadow.png') repeat-y right;
      border-color: #5e82bb;
      border-style: solid;
      border-width: 0 1px 1px 0;
      display: block;
      line-height: 80px;
      padding-right: 30px;
      text-align: right;
    }
    
    #showcase a.selected {
      background-image: none;
      border-right-style: none;
    }

  #showcase .item {
    display: none;
    height: 180px;
    padding: 30px;
  }
  
  #showcase .first {
    display: block;
  }
  
  #showcase #example {
    background: url('../images/screenshots/example.png') no-repeat bottom right;
    padding-right: 300px;
  }