/* General */

body, input, textarea, select {
  font: 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.6em;
}

/* Text */

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 1em 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}